/*              color          */

body {
    background-color: #FFC7F9;}
h1 {
    color: #558FE5;}
h2 {
    color: black;}
h3 {
    color: White;}
p.aside {
    color: white;}
p.article {
    color: black;}
.aside {
    background-color: #558FE5;}
.article {
    background-color: #81D4FB;}


/*             font           */

h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 32px}
h2 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 18px}
h3 {
    font-family: Georgia, Times, serif;         
    font-size: 14px}
p {
    font-size: 12px;}


/*               text alignment          */

h1 {
        left 100px;
        width: 75%}





/*               body columns            */

.column1of3 {
    float: left;
    width: 200px;
    margin: 10px;
    background-color: #558FE5;}
.column2of3 {
    float: left;
    width: 450px;
    margin: 10px;}
.column3of3 {
    float: left;
    width: 200px;
    margin: 10px;}


/*                   links               */
    
    nav{
        border: 0;
        width: 100%;
    }
    
    nav ul {
        list-style-type: none;
        padding-left: 0;
        text-align: center;
    }
    
    nav li{
        display: inline;
        margin-right: 10px;
    }
.footer {
    float:inherit;
    width: 450px;
    margin: 30%;}

table.navigation {
    margin: 10px;
    font-size: 10px;}
a: link{
    color: grey;
    text-decoration: none;}
a: visited {
    color: black;}
a: hover{
    color: silver;
    text-decoration: underline;}
a: active{
    color: darkcyan;}


@media screen and (max-width: 600px) {
    
    body{
        padding: 3%;
    }
    
    nav{
        border: 0;
        width: 100%;
    }
    
    nav ul {
        list-style-type: none;
        padding-left: 0;
        text-align: center;
    }
    
    nav li{
        display: inline;
        margin-right: 10px;
    }
    
    .floaters {
        clear: left;
        margin-left: 0;
        width: 100%;
    }
}